<html>
<head>
  <title>Watch Party Chat #{{ room['id'] }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script>
    {% if user %}
    WATCH_PARTY_USER_ID = {{ user.id }};
    WATCH_PARTY_API_KEY = '{{ user.api_key }}';
    {% endif %}
    roomId = {{ room['id'] }};
  </script>
  <script src="/static/script.js"></script>
</head>
<body>

<div class="header">
  <h2><a href="/">Watch Party</a></h2>
  {% if room %}
  <div class="roomData">
    <div>Chatting in:</div>
    <h3>
      <span class="roomName">{{ room['name'] }}</span>
      <a href="#" class="editButton"><span class="material-symbols-outlined">edit</span></a>
    </h3>
    <div class="editForm hide">
      <input value="{{ room['name'] }}">
      <button class="saveButton"><span class="material-symbols-outlined">save</span></button>
      <button class="cancelButton"><span class="material-symbols-outlined">cancel</span></button>
    </div>
    <div class="invite">
      Invite users to this chat at:
      <a href="/rooms/{{ room['id'] }}" id="invite link">/rooms/{{ room['id'] }}</a>
    </div>
  </div>
  {% endif %}
</div>

<div class="clip">
<div class="container">
  {% if room %}
  <div class="chat">
    <div class="comment_box">
      <form onsubmit="return postNewMessage()">
        <label for="comment">What do you have to say?</label>
        <textarea id="newMessageInput"></textarea>
        <button type="submit" value="Post">Post</button>
      </form>
    </div>
    <div class="messages">
      <!-- Messages will be dynamically added here -->
    </div>
  </div>
  {% else %}
  <h2>Oops, we can't find that room!</h2>
  <p><a href="/">Let's go home and try again.</a></p>
  {% endif %}
</div>
</div>

<script>
startMessagePolling();

function toggleRoomNameEdit() {
  const displayElement = document.querySelector('.roomData .display');
  const editElement = document.querySelector('.roomData .edit');
  displayElement.classList.add('hide');
  editElement.classList.remove('hide');
}

function saveRoomName() {
  const newName = document.getElementById('roomNameInput').value;
  updateRoomName(newName);
  const displayElement = document.querySelector('.roomData .display');
  const editElement = document.querySelector('.roomData .edit');
  displayElement.classList.remove('hide');
  editElement.classList.add('hide');
}

function postNewMessage() {
  const content = document.getElementById('newMessageInput').value;
  postMessage(content);
  return false; // Prevent form submission
}
</script>

</body>
</html>
